span.field{
	display:inline-block;
	width:200px;
}
.search_box{
	margin:80px auto;
	width:350px;
}
h1{
    width:300px;
    margin:5px auto;
 font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;



	font-size:20px;
}
form.search{
	
	/*padding:10px 0 0 50px;*/
}
input[type="search"]:focus {
    background-color: #fff;
    border-color: #6dcff6;
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    width: 250px;
}

input[type="search"] {
    background: #ededed url("../images/search-icon.png") no-repeat scroll 9px center;
    border: 1px solid #ccc;
    border-radius: 10em;
    padding: 9px 10px 9px 32px;
    transition: all 0.5s ease 0s;
    width: 200px;
}