
body {
    color: #333333;
    font-family: arial,'Lantinghei SC',Helvetica,'Microsoft Yahei',sans-serif;
    font-size: 14px;
}

span.field{
	display:inline-block;
	width:190px;
}
.find_dis_top {
    background-color: #18B4ED;
    padding-bottom:50px;
}
.search_box{
    margin: 0 auto;
    max-width: 600px;
    padding: 15px;
}
.weui_panel{
	min-width:300px;
	background-color: #F5F5F5;
}
.search_result{
	margin-top:15px;
}
.search:after{
	clear:both;
}
.main{
	margin: 0 auto;
   
}

.find_dis_list.current {
    display: block;
    padding: 12px;
}

.find_dis_item {
    background-color: #FFFFFF;
    border: 1px solid #DADADA;
    color: #4B4B4B;
    display: block;
    line-height: 29px;
    margin-bottom: 10px;
    padding: 8px 16px 8px 14px;
    position: relative;
    text-align: left;
}

.find_dis_title {
    font-size: 15px;
    vertical-align: top;
    width: 100%;
}
.find_dis_value {
    margin-top: 5px;
    vertical-align: top;
}
.find_dis_value.num {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/number_icon.png");
    background-origin: padding-box;
    background-position: left 7px;
    background-repeat: no-repeat;
    background-size: 16px auto;
    width: 55%;
}
.find_dishonest .icon_gt {
    border-width: 3px 3px 0 0;
    height: 9px;
    width: 9px;
}

.icon_gt {
    border-color: #777777;
    border-style: solid;
    border-width: 2px 2px 0 0;
    height: 8px;
    margin-top: -5px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 8px;
}

.find_dis_value {
    margin-top: 5px;
    vertical-align: top;
}

.ib > * {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0;
}
.find_dis_text {
    font-size: 12px;
    padding-left: 17px;
}

.find_dis_value.mobile {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/phone.png");
    background-origin: padding-box;
    background-position: left 9px;
    background-repeat: no-repeat;
    background-size: 12px auto;
    width: 40%;
}

.header h1{
	margin: 0 auto;
    max-width: 300px;
    color: #FFFFFF;
    text-align:center;
    font-size:26px;
}

.header{
	padding-top:20px;
       margin: 0 auto;
    max-width: 600px;
 font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
	font-size:18px;
}
body{
	background-color: #F5F5F5;
}
form.search{
	
    line-height: 0;
}


input[type="search"] {
  
    background-color: #FFFFFF;
    display: inline-block;
    float: left;
    font-weight: bold;
    height: 48px;
    padding: 0 18px;
    width: 85%;
     -moz-appearance: none;
        border-radius: 0 0 0 0;
    outline: medium none;
    border:0 none;
}

.btn-search{
	background: #ededed url("../images/search-icon.png") no-repeat scroll 9px center;
	background-color: #FFFFFF;
    border: medium none;
    color: #8A8A8A;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    padding-right: 18px;
    text-align: right;
    width: 15%;
}