fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
.pure-form{
	width:70%;
	margin:50px auto;
	border-radius: 4px 4px 0 0;
}
.pure-group input:first-child, .pure-form .pure-group textarea:first-child {
    border-radius: 4px 4px 0 0;
    top: 1px;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #0078E7;
    color: #FFFFFF;
}

.pure-form .pure-group input, .pure-form .pure-group textarea {
    border-radius: 0 0 0 0;
    display: block;
    margin: 0 0 -1px;
    padding: 10px;
    position: relative;
    top: -1px;
}

.pure-form .pure-input-1-2 {
    width: 100%;
}

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
}
.pure-button {
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.pure-button {

    border: 0 none transparent;
    border-radius: 2px 2px 2px 2px;
    color: rgba(0, 0, 0, 0.8);
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    text-decoration: none;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #0078E7;
    color: #FFFFFF;
}

.pure-form fieldset {
    border: 0 none;
    margin: 0;
    padding: 0.35em 0 0.75em;
}